.nav-footer{
  align-self: flex-end;
  margin-top: auto;
  padding-bottom: rem(28px);
  width: 100%;
}

.copyrights{
  color:rgba($white,.5);
  padding: 0 15px;
  font-size: 12px;
  font-family: 'Open Sans';
  display: block;
}
