.panels-wrapper {
  display: flex;
  flex: 0 1 calc(100% - $sidebar-w);
  flex-basis:calc(100% - $sidebar-w);
  width: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden;

  @media all and (max-width: $md) {
    flex-direction: column;

  }
}

.panel {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis:25%;
  background: rgba($dark, .55);
  flex-direction: column;
  justify-content: center;
  padding: 0 rem(50px);
  cursor: pointer;
  transition: all .3s;
  max-width: 100%;
  box-sizing:border-box;
  margin-right: 1px;

  &:last-child {
    margin-right: 0;
  }
  @media all and (max-width: 1500px) {
    padding: 0 rem(10px);
  }

  @media all and (max-width: $md) {
    padding: rem(50px);
    flex-basis: auto;
  }

  &.toggle-panel {
    margin-right: 0;

    &.open {
      margin-right: 1px;
    }
  }

  &:hover {
    background: rgba($dark, .74);

    .panel__title-heading,
    .buttons-wrapper,
    .panel_description {
      height: inherit;
      opacity: 1;
      transition: all .4s;
      transform: translate(0, 0);
    }
  }
}

.panel__title {
  margin-bottom: rem(25px);
  text-align: center;

  &:before {
    background: url('../img/sprite1.png') no-repeat -64px -41px;
    content: '';
    display: inline-block;
    width: 45px;
    height: 35px;
    margin-bottom: rem(25px);
  }

  a {
    text-transform: uppercase;
    color: $white;
    font-family: 'TrajanPro3-Regular';
    font-size: rem(38px);
    text-align: center;
    display: block;

    @media all and (max-width: $lg) {
      font-size: rem(26px);
    }
  }
}

.panel_description {
  font-family: 'Merriweather-LightItalic';
  color: $light-grey;
  font-size: 16px;
  text-align: center;
  margin-bottom: rem(25px);
  line-height: 2;
  opacity: 0;
  height: 0;
  transform: translate(0, 50%);
}

.panel__title-heading {
  color: $white;
  font-family: 'Gotham-Light';
  font-size: 28px;
  margin-bottom: rem(10px);
  opacity: 0;
  height: 0;
  text-align: center;
  transform: translate(0, 50%);
}

.buttons-wrapper {
  opacity: 0;
  height: 0;
  transform: translate(0, 50%);
}

@media all and (min-width: 1500px) {
  .panel.toggle-panel {
    flex: 0;
    transform: translate(-100%, 0);
    width: 0;
    padding: 0;
    overflow: hidden;
    transition: all 1s;

    &.open {
      display: flex;
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis:25%;
      transform: translate(0, 0);
      padding: 0 rem(50px);
    }
  }
}




