.side-nav {
  display: flex;
  flex: 0 0 $sidebar-w;
  flex-basis:$sidebar-w;
  width: $sidebar-w;
  flex-direction: column;
  padding-top: 20px;
  background: rgba($dark, .9);
  min-height: 100%;
  transition: all 1s;

  @media all and (max-width: 767px) {
    position: absolute;
    left: -100%;
    top: 0;
    bottom: 0;
    z-index: 3;
    overflow-y: auto;
    background: $dark;

    &.open {
      left: 0;
      position: fixed;
    }
  }
}

.logo {
  margin: 0 0 rem(70px) rem(15px);
}

.main-nav__link {
  color: $light-grey;
  padding: 10px 0 10px 15px;
  transition: all .2s;
  display: block;
  transition: all .2s;

}

.main-nav__dropdown-body {
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background: $white;
  transition: all .4s;
  z-index: 2;
  width: 0;
  min-height: 100%;
  padding-top: rem(50px);

  @media all and (max-width: 767px) {
    display: none;

  }
}

.main-nav__item {
  &:hover {
    .main-nav__dropdown-body {
      display: flex;
      flex-direction: column;
      width: 25%;
      left: $sidebar-w;
      overflow-y: auto;
      height: 100%;
      z-index: 2;

      @media all and (max-width: 767px) {
        width: 100%;
        height: 300px;
        overflow-y: auto;
        position: static;
        padding-top: 20px;
        display: block;
      }
    }

    .main-nav__link {
      background: $white;
      color: $dark-blue;
    }
  }
}

.main-nav__dropdown-title {
  a {
    padding-left: rem(35px);
    font-family: 'Gotham-Bold';
    font-weight: 700;
    color: $dark;
    margin-bottom: 10px;
  }

}

.main-nav__dropdown-list {
  margin-bottom: rem(35px);

  &:last-child {
    margin-bottom: 0;
  }
}

.main-nav__dropdown-link {
  padding: 6px 0 6px rem(35px);
  display: block;
  transition: all .3s;
  color: #0e1324;
  font-family: 'Gotham-Light';
  font-weight: 300;

  &:before {
    content: '';
    background: url("../img/sprite1.png") -41px -54px;
    width: 10px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
  }

  &:hover {
    background: $yellow;
  }
}

.copyrights {
  align-self: flex-end;
}