@font-face {
  font-family: 'Gotham-Bold';
  src: url('../fonts/HCo_Gotham_Bundle/Gotham-Bold.eot');
  src: url('../fonts/HCo_Gotham_Bundle/Gotham-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/HCo_Gotham_Bundle/Gotham-Bold.woff') format('woff'), url('../fonts/HCo_Gotham_Bundle/Gotham-Bold.ttf') format('truetype'), url('../fonts/HCo_Gotham_Bundle/Gotham-Bold#FontName') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Gotham-Light';
  src: url('../fonts/HCo_Gotham_Bundle/Gotham-Light.eot');
  src: url('../fonts/HCo_Gotham_Bundle/Gotham-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/HCo_Gotham_Bundle/Gotham-Light.woff') format('woff'), url('../fonts/HCo_Gotham_Bundle/Gotham-Light.ttf') format('truetype'), url('../fonts/HCo_Gotham_Bundle/Gotham-Light#FontName') format('svg');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Merriweather-LightItalic';
  src: url('../fonts/Merriweather/Merriweather-LightItalic.eot');
  src: url('../fonts/Merriweather/Merriweather-LightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Merriweather/Merriweather-LightItalic.woff') format('woff'), url('../fonts/Merriweather/Merriweather-LightItalic.ttf') format('truetype'), url('../fonts/Merriweather/Merriweather-LightItalic#FontName') format('svg');
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'TrajanPro3-Regular';
  src: url('../fonts/TrajanPro3/TrajanPro3-Regular.eot');
  src: url('../fonts/TrajanPro3/TrajanPro3-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/TrajanPro3/TrajanPro3-Regular.woff') format('woff'), url('../fonts/TrajanPro3/TrajanPro3-Regular.ttf') format('truetype'), url('../fonts/TrajanPro3/TrajanPro3-Regular#FontName') format('svg');
  font-style: normal;
  font-weight: normal;
}